<td class="condition temp"><%= conditions.temp %></td>
<td class="condition wind-speed"><%= conditions.wind_speed %> mph</td>
<td class="condition wind-direction"><%= conditions.wind_direction %></td>
<td class="condition time" ><%= conditions.formatted_time %></td>
