<td><span class="temp"><%= conditions.temp %></span></td>
<td><span class="wind-speed"><%= conditions.wind_speed %></span> mph</td>
<td><span class="wind-direction"><%= conditions.wind_direction %></span></td>
<td><span class="time"><%= conditions.formatted_time %></span></td>
